* {
    margin: 0;
    padding: 0;
}

.unidad-2 {
    background-color: beige;
    height: 50px;
    padding: 2rem;
    text-align: center;
    font-weight: bold;
    font-style: oblique;
    text-decoration: underline;
}

.unidad-2 h1 {
    font-size: 2rem;
}

#actividad {
    font-size: 2rem;
    font-style: oblique;
}

.contenedor {
    background-color: rgb(137, 197, 233);
    padding: 2rem;
}